.h1{color: green;
text-align: center;
}
.r1{background-color: darksalmon;}
.r2{background-color: darkseagreen;}
.r3{background-color: palevioletred;}
.r4{background-color: aqua;}
.r5{background-color: darkgrey;}
